<div class='share-btns'>
  <span>分享到：</span>
  <a class='sre sinaminiblog' data-for='sinaminiblog' href='javascript:;' title='新浪微博'>新浪微博</a>
  <a class='sre qqmb' data-for='qqmb' href='javascript:;' title='腾讯微博'>腾讯微博</a>
  <a class='sre qzone' data-for='qzone' href='javascript:;' title='QQ空间'>QQ空间</a>
  <a class='sre douban' data-for='douban' href='javascript:;' title='豆瓣'>豆瓣</a>
  <a class='sre renren' data-for='renren' href='javascript:;' title='人人网'>人人网</a>
  <a class='sre more' data-for='more' href='javascript:;' title='更多'>更多</a>
  <span class="BSHARE_COUNT bshare-share-count">…</span>
</div>