---
layout: default
---

{% for item in site.data.works %}{% if item.name == page.key %}
<div class="page-project">
  <div class='page-project-info'>
    <h2>{{ item.title }}</h2>
    <div class='url'>
      <a href='{{ item.url }}' target='_blank'>{{ item.url }}</a>
    </div>
    <div class='desc'>{{ item.desc }}</div>
    <div class='cover'>
      <div class='ibox' style='background-image:url({{ item.image }})'></div>
    </div>
    <div class='qr'>
      <div rel='qrcode' data-url='{{ item.url }}'></div>
    </div>
    <article class="info-content">
      {{ content }}
    </article>
  </div>

  <div class='page-share' data-url='{{ item.url }}' data-image='{{ item.image }}'>
    {% include bshare.html %}
  </div>

  <div class='page-comments'>
    {% include duoshuo.html key=item.name title=item.title path=page.permalink %}
  </div>
</div>{% endif %}{% endfor %}